:root {
  /* Colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);

  /*Font size  */
  --font-sixty: 60px;
  --font-fifty: 50px;
  --font-twenty: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
}

body {
  max-width: 90rem;
  margin: auto;
  background-image: url("images/bg-pattern-top-desktop.svg");
  background-repeat: no-repeat;
}

.main-container {
  width: 80%;
  margin: auto;
}

header {
  min-height: 25rem;
  height: auto;
  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title-container {
  width: 50%;
  min-width: 31.25rem;
  height: auto;
  /* flex */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.title-container h1 {
  color: var(--very-dark-magenta);
  font-size: var(--font-sixty);
  min-width: 18.75rem;
  width: 25rem;
  margin-bottom: 0.625rem;
}

.title-container p {
  color: var(--dark-grayish-magenta);
  font-size: var(--font-twenty);

  /* min-width: 400px; */

  width: 31.25rem;
  margin-top: 0.625rem;
  line-height: 1.5625rem;
}

.stars-container {
  width: 50%;
  min-width: 25rem;

  /* flex */
  flex-flow: column wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars-container .stars {
  background: var(--light-grayish-magenta);
  color: var(--very-dark-magenta);
  font-size: var(--font-twenty);
  font-weight: bold;
  width: 25.625rem;
  height: 3.125rem;
  margin-bottom: 0.9375rem;
  border-radius: 0.3125rem;

  /* flex */

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.stars span {
  margin-left: 0.625rem;
}

.stars-container .stars1 {
  align-self: flex-start;
}

.stars-container .stars2 {
  align-self: center;
}

.stars-container .stars3 {
  align-self: flex-end;
}

.cards-container {
  min-height: 20rem;
  height: auto;
  margin-bottom: 1.25rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  background: var(--very-dark-magenta);
  color: var(--light-grayish-magenta);
  width: 21.875rem;
  /* min-width: 250; */
  height: 14.6875rem;
  border-radius: 0.625rem;
  /* flex-grow: 1; */
  display: flex;

  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.card-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 17.5rem;
  margin-top: 2.1875rem;
  margin-bottom: 1.875rem;
}

.card-title .verified {
  color: var(--soft-pink);
}

.card p {
  width: 17.5rem;
  margin-bottom: 0.3125rem;
  line-height: 1.25rem;
}

.card-header img {
  width: 3.125rem;
  border-radius: 1.5625rem;
}

.card-header .card-title {
  align-self: center;
  position: absolute;
  left: 4.375rem;
}

.cards-container .card1 {
  align-self: flex-start;
}

.cards-container .card2 {
  align-self: center;
}

.cards-container .card3 {
  align-self: flex-end;
}

/* Media query */

@media screen and (max-width: 1330px) {
  .cards-container {
    justify-content: center;
  }

  .card {
    margin: 0.625rem 0.625rem;
  }

  .cards-container .card2 {
    align-self: flex-start;
  }

  .cards-container .card3 {
    align-self: flex-end;
  }
}

@media screen and (max-width: 78.125rem) {
  header {
    margin-top: 5rem;
    margin-bottom: 3.125rem;
    justify-content: center;
  }

  .title-container {
    margin-bottom: 3.125rem;
    flex-direction: row;
    justify-content: center;
  }

  .title-container h1 {
    text-align: center;
  }

  .title-container p {
    text-align: center;
    width: 25.625rem;
    margin-top: 1.875rem;
  }

  .stars-container {
    justify-content: center;
    align-items: center;
  }

  .stars-container .stars {
    width: 25.625rem;
    height: 5rem;
  }

  .stars-container .stars1 {
    align-self: center;
  }

  .stars-container .stars2 {
    align-self: center;
  }

  .stars-container .stars3 {
    align-self: center;
  }
}

@media screen and (max-width: 57.8125rem) {
  .title-container h1 {
    text-align: center;
  }

  .title-container p {
    text-align: center;
  }

  .cards-container {
    justify-content: center;
    align-items: center;
  }

  .card p {
    width: 18.75rem;
    margin-left: 0.9375rem;
    margin-bottom: 0.3125rem;
  }
}

@media screen and (max-width: 31.25rem) {
  .title-container {
    align-items: center;
    width: 25rem;
  }

  .title-container h1 {
    width: 21.875rem;
    min-width: 15.625rem;
    font-size: var(--font-fifty);
    text-align: center;
  }

  .title-container p {
    width: 21.875rem;
    min-width: 18.75rem;
  }

  .stars-container .stars {
    width: 20.5rem;
    height: 4.6875rem;
  }

  .stars span {
    margin: 0 1.25rem;
  }

  .card {
    width: 20.625rem;
    height: 15.875rem;
  }
}
